/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #f5f5f5;
    /* Cinza claro, neutro e sofisticado */
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
    /* Textura leve */
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #092a49;
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    /* Scales font size responsively */
    margin-bottom: 20px;
}


p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    line-height: 1.8;
}


a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #092a49;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 95vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #0796fe;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #092a49;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #092a49;
}

.back-to-top:hover i {
    color: #0796fe;
}

@media (min-width: 992px) {
    .mt-125 {
        margin-top: 125px;
    }
}

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 6px;
    /* Scrollbar fina */
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    /* Cor do fundo do track */
}

::-webkit-scrollbar-thumb {
    background: #0c326f;
    /* Cor azul-escura do scroll */
    border-radius: 3px;
    /* Deixa mais arredondado */
    transition: background 0.3s ease-in-out, height 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #09234f;
    /* Cor mais escura ao passar o mouse */
    height: 50px;
    /* Efeito sutil de alongamento */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #0c326f #f5f5f5;
}

/* Animação de rolagem suave */
html {
    scroll-behavior: smooth;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 35px;
    background-image: linear-gradient(to right, #0796fe, #092a49);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 35px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text i {
    font-size: 14px;
    color: #ffffff;
    margin-right: 5px;
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 5px;
}

.top-bar .social {
    display: flex;
    height: 35px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    font-size: 16px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #092a49;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: .5s;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 200;
    text-transform: uppercase;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #0796fe;
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 35px;
        padding: 20px 60px;
        background: rgba(9, 42, 73, .2) !important;
        z-index: 9;
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #092a49 !important;
    }

    .page .navbar {
        background: #092a49 !important;
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #092a49 !important;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** hero CSS ***********/
/*******************************/

/* Contêiner principal */
.hero-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    min-height: 100vh;
    padding: 5rem 10vw;
    width: 100%;
    /* Faz a seção ocupar toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    text-align: center;
    background: white;
    /* Cor de fundo para garantir contraste */
}

/* Título e subtítulo */
.hero-title {
    font-size: 3rem;
    /* Maior para dar mais impacto */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0c326f;
    /* Vermelho para chamar atenção */
}

.hero-subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Lista de condições */
.hero-conditions p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0c326f;
}

/* Vídeo responsivo */
.video-container {
    width: 100%;
    max-width: 1000px;
    /* Maior destaque para o vídeo */
    margin: 30px auto;
}

#hero-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* Borda arredondada opcional */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    /* Sombra mais forte */
}

/* Botão */
.hero-btn {
    margin-top: 30px;
}

.hero-btn .btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.3rem;
    /* Maior destaque */
    background-color: #f5a623;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-btn .btn:hover {
    background-color: #d48820;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}



@media (max-width: 991.98px) {

    .hero,
    .hero .hero-item,
    .hero .hero-text {
        height: calc(100vh - 105px);
    }

    .hero .hero-text h1 {
        font-size: 35px;
    }

    .hero .hero-text p {
        font-size: 16px;
    }

    .hero .hero-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {

    .hero,
    .hero .hero-item,
    .hero .hero-text {
        height: calc(100vh - 70px);
    }

    .hero .hero-text h1 {
        font-size: 30px;
    }

    .hero .hero-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text h1 {
        font-size: 25px;
    }

    .hero .hero-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}


/*******************************/
/****** SAIBA MAIS (SETA) ******/
/*******************************/

.scroll-down {
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.scroll-down p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0c326f;
    /* Azul INSS */
    margin-bottom: 5px;
}

.arrow-down {
    width: 30px;
    height: 30px;
    border-left: 4px solid #0c326f;
    border-bottom: 4px solid #0c326f;
    transform: rotate(-45deg);
    margin: 0 auto;
    animation: bounce 1.5s infinite;
    margin-bottom: 13rem;
}

/* Animação da seta */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) rotate(-45deg);
    }

    50% {
        transform: translateY(10px) rotate(-45deg);
    }
}

/*******************************/
/******* INFO BOX ESTILO *******/
/*******************************/

.info-box {
    background: #f4f4f4;
    border-left: 8px solid #0c326f;
    /* Azul INSS */
    padding: 25px;
    max-width: 800px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.info-box p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

/* Títulos dentro da Info Box */
.info-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0c326f;
    text-transform: uppercase;
    margin: 15px 0;
    text-align: center;
}

.info-subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #007a33;
    /* Verde do INSS */
    text-transform: uppercase;
    margin-top: 15px;
}

/* Destaques nas cores do INSS */
.highlight {
    font-weight: bold;
    color: #0c326f;
    /* Azul INSS */
}

.highlight-yellow {
    font-weight: bold;
    color: #f5a623;
    /* Amarelo INSS */
}

.highlight-green {
    font-weight: bold;
    color: #007a33;
    /* Verde INSS */
}

/* Responsividade */
@media (max-width: 768px) {
    .info-box {
        padding: 20px;
        max-width: 90%;
    }

    .info-title {
        font-size: 1.5rem;
    }

    .info-subtitle {
        font-size: 1.2rem;
    }

    .info-box p {
        font-size: 1.1rem;
    }
}



/*******************************/
/******* Section Header ********/
/*******************************/
.section {
    min-height: 100vh;
    /* Makes sections fill the screen */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}


.section-header {
    position: relative;
    text-align: left;
    margin-bottom: 45px;
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 16px;
}

.section-header h2 {
    margin: 0 0 0 40px;
    position: relative;
    font-size: 50px;
    font-weight: 200;
}

.section-header h2::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 0;
    top: 23px;
    left: -40px;
    border-bottom: 30px solid;
    border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1.5%, rgba(0, 0, 0, .1) 1.5%, rgba(0, 0, 0, .1) 3%) 30;
}

.section-header h2:hover::after {
    border-image: repeating-linear-gradient(60deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1.5%, rgba(0, 0, 0, .05) 1.5%, rgba(0, 0, 0, .05) 3%) 30;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}


/*******************************/
/********** Fact CSS ***********/
/*******************************/
/*******************************/
/******* FACT SECTION **********/
/*******************************/

.fact-container {
    text-align: center;
    margin: 50px auto;
    max-width: 900px;
}

.fact-title {
    font-size: 2rem;
    font-weight: bold;
    color: #0c326f;
    /* Azul INSS */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.fact-title .highlight {
    color: #f5a623;
    /* Amarelo INSS */
}

.fact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fact-card {
    background: #ffffff;
    border: 2px solid #0c326f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efeito de Hover */
.fact-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    border-color: #f5a623;
    /* Muda para a cor amarela do INSS */
}

/* Efeito no texto ao passar o mouse */
.fact-card:hover p {
    color: #0c326f;
}



.fact-card img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.fact-card p {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    .fact-row {
        flex-direction: column;
        align-items: center;
    }

    .fact-card {
        width: 90%;
    }
}


.fact-card,
.benefit-item {
    width: 280px;
    /* Makes cards larger */
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.fact-row,
.assessoria-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/*******************************/
/****** Especialista CSS *******/
/*******************************/
.especialista {
    background: #f4f4f4;
    padding: 10rem 10rem;
}

.especialista .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.especialista-text {
    max-width: 550px;
}

.especialista-text h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #0c326f;
    /* Azul INSS */
    margin-bottom: 20px;
}

.especialista-text ul {
    list-style: none;
    padding: 0;
}

.especialista-text ul li {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.especialista-text ul li::before {
    color: #f5a623;
    /* Amarelo INSS */
    margin-right: 10px;
    font-size: 1.3rem;
}

.btn-contato {
    display: inline-block;
    background: #0c326f;
    color: #fff;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-contato:hover {
    background: #f5a623;
    color: #0c326f;
}

.especialista-img {
    text-align: center;
    max-width: 500px;
}

.especialista-img img {
    width: 100%;
    max-width: 450px;

    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.especialista-img img:hover {
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .especialista .row {
        flex-direction: column;
        text-align: center;
    }

    .especialista-text {
        max-width: 100%;
    }

    .especialista-img img {
        max-width: 100%;
        margin-top: 20px;
    }
}


/*******************************/
/******* ASSESSORIA CSS ********/
/*******************************/
.assessoria {
    background: #f4f4f4;
    padding: 10rem 10rem;
    text-align: center;
}

.assessoria .section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #0c326f;
    /* Azul INSS */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.assessoria-content p {
    font-size: 1.2rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto 30px;
}

.assessoria-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.benefit-item {
    background: #fff;
    border: 2px solid #0c326f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.benefit-item img {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.benefit-item p {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.benefit-item:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
    border-color: #f5a623;
    /* Amarelo INSS */
}

/* Responsividade */
@media (max-width: 768px) {
    .assessoria-benefits {
        flex-direction: column;
        align-items: center;
    }

    .benefit-item {
        width: 90%;
    }
}


/* Storytelling Section */
.storytelling {
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 100px 0;
    overflow: hidden;
}

/* Fundo azul com mesclagem */
.storytelling-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #0c326f 50%, #1a4b8e 100%);
    z-index: 0;
}

/* Estilização da imagem principal */
.story-img img {
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    position: relative;
    z-index: 2;
}

/* Texto principal */
.story-content {
    text-align: left;
    max-width: 600px;
    position: relative;
    z-index: 2;
}

/* Título */
/* Estilizando o título */
.story-title {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffdd57, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Melhorando os textos */
.story-text {
    font-size: 22px;
    line-height: 1.8;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}

/* Aumentando o destaque na frase principal */
.story-text.highlight {
    font-weight: bold;
    font-size: 26px;
    color: #ffdd57;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    animation: glow 1.5s infinite alternate;
}

/* Efeito de brilho no destaque */
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #ffdd57;
    }

    100% {
        text-shadow: 0 0 20px #ffdd57, 0 0 30px #ffa500;
    }
}

/* Melhorando o Call to Action */
.cta-text {
    font-size: 28px;
    font-weight: bold;
    color: yellow;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Botão com efeito pulsante */
.cta-btn {
    display: inline-block;
    background: green;
    color: white;
    padding: 16px 35px;
    font-size: 22px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

.cta-btn:hover {
    background: #09234f;
    transform: scale(1.08);
}



/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    position: relative;
    margin-bottom: 75px;
}

.team .team-img {
    position: relative;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: absolute;
    width: calc(100% - 30px);
    height: 96px;
    bottom: -46px;
    left: 15px;
    padding: 25px 15px;
    text-align: center;
    background: rgba(256, 256, 256, .9);
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    transition: .3s;
    overflow: hidden;
}

.team .team-text h2 {
    color: #0796fe;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.team .team-text p {
    margin-bottom: 20px;
    color: #092a49;
}

.team .team-social {
    position: relative;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    color: #092a49;
    border: 2px solid #092a49;
    transition: .3s;
}

.team .team-social a:hover {
    color: #0796fe;
    border-color: #0796fe;
}

.team .team-item:hover .team-text {
    height: 160px;
}



/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.blog .section-header {
    margin-bottom: 75px;
}

.blog .blog-carousel {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    right: -15px;
}

.blog .blog-item {
    position: relative;
    margin: 0 15px;
}

.blog.blog-page .blog-item {
    margin: -30px 0 0 0;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    z-index: 1;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-content {
    position: relative;
    width: calc(100% - 60px);
    top: -60px;
    left: 30px;
    padding: 25px 30px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    z-index: 2;
}

.blog .blog-content h2.blog-title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.blog .blog-meta {
    position: relative;
    margin-bottom: 15px;
}

.blog .blog-meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    color: #797979;
}

.blog .blog-meta i {
    color: #0796fe;
    margin: 0 2px 0 10px;
}

.blog .blog-meta i:first-child {
    margin-left: 0;
}

.blog .blog-text {
    position: relative;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    position: relative;
    padding: 0 0 0 35px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0796fe;
    transition: .3s;
}

.blog .blog-item a.btn:hover {
    color: #092a49;
}

.blog .blog-item a.btn::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    top: 10px;
    left: 0;
    background: #0796fe;
}

.blog .owl-nav {
    position: relative;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0796fe;
    font-size: 25px;
    transition: .3s;
}

.blog .owl-nav .owl-prev {
    padding-right: 80px;
}

.blog .owl-nav .owl-next {
    padding-left: 80px;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
    color: #092a49;
}

.blog .owl-nav .owl-prev::after,
.blog .owl-nav .owl-next::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    top: 11px;
    background: #0796fe;
    transition: .3s;
}

.blog .owl-nav .owl-prev::after {
    left: 9px;
}

.blog .owl-nav .owl-next::after {
    right: 9px;
}

.blog .owl-nav .owl-prev:hover::after {
    background: #092a49;
}

.blog .owl-nav .owl-next:hover::after {
    background: #092a49;
}

.blog .pagination {
    margin-bottom: 0;
}

.blog .pagination .page-link {
    margin-top: -30px;
    color: #092a49;
    border-radius: 0;
    border-color: #092a49;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #0796fe;
    background: #092a49;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}


/*******************************/
/******* CONTATO CSS ***********/
/*******************************/
.contact {
    background: white;
    /* Azul INSS */
    color: white;
    padding: 70px 0;
    text-align: center;
}

.contact .section-header {
    margin-bottom: 40px;
}

.contact .section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f5a623;
    /* Amarelo INSS */
}

.contact .section-header p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}

/* Estilização dos blocos de contato */
.contact-info {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.contact-info:hover {
    transform: scale(1.05);
}

.contact-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f5a623;
    /* Amarelo INSS */
    color: #0c326f;
    font-size: 24px;
    margin-right: 15px;
}

.contact-text h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

.contact-text p {
    font-size: 1.1rem;
    margin: 5px 0 0;
}

/* Formulário */
.contact-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0c326f;
    margin-bottom: 20px;
}

/* Campos de entrada */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Botão de envio */
.btn-enviar {
    display: block;
    width: 100%;
    background: #f5a623;
    /* Amarelo INSS */
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-enviar:hover {
    background: #ffa500;
}

/* Responsividade */
@media (max-width: 768px) {
    .contact .row {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .contact-icon {
        margin-bottom: 10px;
    }
}


/*******************************/
/******* Single Page CSS *******/
/*******************************/
.single {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.single img {
    width: 100%;
    margin: 0 0 25px 0;
}

.single .table,
.single .list-group {
    margin-bottom: 30px;
}

.single .ul-group {
    padding: 0;
    list-style: none;
}

.single .ul-group li {
    margin-left: 2px;
}

.single .ul-group li::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.single .ol-group {
    padding-left: 18px;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #092a49;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #0796fe;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #0796fe;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #092a49;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #092a49;
    background: none;
    border-radius: 0;
    border: 2px solid #092a49;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #0796fe;
    background: #092a49;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #999999;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
}

.footer .copyright p a:hover {
    color: #0796fe;
}



@media only screen and (min-width: 768px) {
    .cd-title {
        line-height: 250px;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-title {
        height: 200px;
        line-height: 300px;
    }

    .cd-title h1 {
        font-size: 3rem;
    }
}

.cd-intro {
    width: 90%;
    max-width: 768px;
    text-align: center;
}

.cd-intro {
    margin: 4em auto;
}

@media only screen and (min-width: 768px) {
    .cd-intro {
        margin: 5em auto;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-intro {
        margin: 6em auto;
    }
}

.cd-headline {
    font-size: 3rem;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-headline {
        font-size: 6rem;
    }
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    /* Evita quebra de linha */
}

.cd-words-wrapper b {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    display: inline-block;
    /* Apenas o visível aparece */
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* -------------------------------- 
  
  xrotate-1 
  
  -------------------------------- */
.cd-headline.rotate-1 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-1 b {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cd-headline.rotate-1 b.is-visible {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: cd-rotate-1-in 1.2s;
    -moz-animation: cd-rotate-1-in 1.2s;
    animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: cd-rotate-1-out 1.2s;
    -moz-animation: cd-rotate-1-out 1.2s;
    animation: cd-rotate-1-out 1.2s;
}

@-webkit-keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        opacity: 1;
    }
}

@-moz-keyframes cd-rotate-1-in {
    0% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -moz-transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -moz-transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes cd-rotate-1-in {
    0% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }

    35% {
        -webkit-transform: rotateX(120deg);
        -moz-transform: rotateX(120deg);
        -ms-transform: rotateX(120deg);
        -o-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(360deg);
        -moz-transform: rotateX(360deg);
        -ms-transform: rotateX(360deg);
        -o-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@-webkit-keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cd-rotate-1-out {
    0% {
        -moz-transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -moz-transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -moz-transform: rotateX(180deg);
        opacity: 0;
    }
}

@keyframes cd-rotate-1-out {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }

    35% {
        -webkit-transform: rotateX(-40deg);
        -moz-transform: rotateX(-40deg);
        -ms-transform: rotateX(-40deg);
        -o-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}

/* -------------------------------- 
  
  xtype 
  
  -------------------------------- */
.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #0d0d0d;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

/* -------------------------------- 
  
  xrotate-2 
  
  -------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-2 i,
.cd-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-headline.rotate-2 b {
    opacity: 0;
}

.cd-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .cd-headline.rotate-2 i {
    opacity: 1;
}

.cd-headline.rotate-2 i.in {
    -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards;
}

.cd-headline.rotate-2 i.out {
    -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards;
}

.cd-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .cd-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@-moz-keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
        -moz-transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -moz-transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -moz-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes cd-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        -moz-transform: translateZ(-20px) rotateX(90deg);
        -ms-transform: translateZ(-20px) rotateX(90deg);
        -o-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        -moz-transform: translateZ(-20px) rotateX(-10deg);
        -ms-transform: translateZ(-20px) rotateX(-10deg);
        -o-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        -moz-transform: translateZ(-20px) rotateX(0deg);
        -ms-transform: translateZ(-20px) rotateX(0deg);
        -o-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@-moz-keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
        -moz-transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -moz-transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -moz-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes cd-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        -moz-transform: translateZ(-20px) rotateX(0);
        -ms-transform: translateZ(-20px) rotateX(0);
        -o-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        -moz-transform: translateZ(-20px) rotateX(-100deg);
        -ms-transform: translateZ(-20px) rotateX(-100deg);
        -o-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        -moz-transform: translateZ(-20px) rotateX(-90deg);
        -ms-transform: translateZ(-20px) rotateX(-90deg);
        -o-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}

/* -------------------------------- 
  
  xloading-bar 
  
  -------------------------------- */
.cd-headline.loading-bar span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.loading-bar .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.loading-bar .cd-words-wrapper::after {
    /* loading bar */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #0096a7;
    z-index: 2;
    -webkit-transition: width 0.3s -0.1s;
    -moz-transition: width 0.3s -0.1s;
    transition: width 0.3s -0.1s;
}

.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
    width: 100%;
    -webkit-transition: width 3s;
    -moz-transition: width 3s;
    transition: width 3s;
}

.cd-headline.loading-bar b {
    top: .2em;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.cd-headline.loading-bar b.is-visible {
    opacity: 1;
    top: 0;
}

/* -------------------------------- 
  
  xslide 
  
  -------------------------------- */
.cd-headline.slide span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.slide .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.slide b {
    opacity: 0;
    top: .2em;
}

.cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
}

.cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(20%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-in {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(20%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateY(120%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes slide-out {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    60% {
        opacity: 0;
        -moz-transform: translateY(120%);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateY(120%);
        -moz-transform: translateY(120%);
        -ms-transform: translateY(120%);
        -o-transform: translateY(120%);
        transform: translateY(120%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/* -------------------------------- 
  
  xclip 
  
  -------------------------------- */
.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #aebcb9;
}

.cd-headline.clip b {
    opacity: 0;
}

.cd-headline.clip b.is-visible {
    opacity: 1;
}

/* -------------------------------- 
  
  xzoom 
  
  -------------------------------- */
.cd-headline.zoom .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.zoom b {
    opacity: 0;
}

.cd-headline.zoom b.is-visible {
    opacity: 1;
    -webkit-animation: zoom-in 0.8s;
    -moz-animation: zoom-in 0.8s;
    animation: zoom-in 0.8s;
}

.cd-headline.zoom b.is-hidden {
    -webkit-animation: zoom-out 0.8s;
    -moz-animation: zoom-out 0.8s;
    animation: zoom-out 0.8s;
}

@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
    }
}

@-moz-keyframes zoom-in {
    0% {
        opacity: 0;
        -moz-transform: translateZ(100px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateZ(0);
    }
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
        -moz-transform: translateZ(100px);
        -ms-transform: translateZ(100px);
        -o-transform: translateZ(100px);
        transform: translateZ(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@-webkit-keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
    }
}

@-moz-keyframes zoom-out {
    0% {
        opacity: 1;
        -moz-transform: translateZ(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateZ(-100px);
    }
}

@keyframes zoom-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
        -moz-transform: translateZ(-100px);
        -ms-transform: translateZ(-100px);
        -o-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }
}

/* -------------------------------- 
  
  xrotate-3 
  
  -------------------------------- */
.cd-headline.rotate-3 .cd-words-wrapper {
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
}

.cd-headline.rotate-3 b {
    opacity: 0;
}

.cd-headline.rotate-3 i {
    display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.is-visible .cd-headline.rotate-3 i {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.cd-headline.rotate-3 i.in {
    -webkit-animation: cd-rotate-3-in 0.6s forwards;
    -moz-animation: cd-rotate-3-in 0.6s forwards;
    animation: cd-rotate-3-in 0.6s forwards;
}

.cd-headline.rotate-3 i.out {
    -webkit-animation: cd-rotate-3-out 0.6s forwards;
    -moz-animation: cd-rotate-3-out 0.6s forwards;
    animation: cd-rotate-3-out 0.6s forwards;
}

.no-csstransitions .cd-headline.rotate-3 i {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0;
}

.no-csstransitions .cd-headline.rotate-3 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes cd-rotate-3-in {
    0% {
        -webkit-transform: rotateY(180deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
    }
}

@-moz-keyframes cd-rotate-3-in {
    0% {
        -moz-transform: rotateY(180deg);
    }

    100% {
        -moz-transform: rotateY(0deg);
    }
}

@keyframes cd-rotate-3-in {
    0% {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes cd-rotate-3-out {
    0% {
        -webkit-transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
    }
}

@-moz-keyframes cd-rotate-3-out {
    0% {
        -moz-transform: rotateY(0);
    }

    100% {
        -moz-transform: rotateY(-180deg);
    }
}

@keyframes cd-rotate-3-out {
    0% {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

/* -------------------------------- 
  
  xscale 
  
  -------------------------------- */
.cd-headline.scale b {
    opacity: 0;
}

.cd-headline.scale i {
    display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.is-visible .cd-headline.scale i {
    opacity: 1;
}

.cd-headline.scale i.in {
    -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards;
}

.cd-headline.scale i.out {
    -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
    opacity: 1;
}

@-webkit-keyframes scale-up {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@-moz-keyframes scale-up {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    60% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

@-moz-keyframes scale-down {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }

    60% {
        -moz-transform: scale(0);
        opacity: 0;
    }
}

@keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    60% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}

/* -------------------------------- 
  
  xpush 
  
  -------------------------------- */
.cd-headline.push b {
    opacity: 0;
}

.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 0.6s;
    -moz-animation: push-in 0.6s;
    animation: push-in 0.6s;
}

.cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}

@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }

    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
    }

    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}

@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}



@media (max-width: 767.98px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}